Fabric
Flask
Flask-Login
Flask-SQLAlchemy
Flask-Script
Flask-Assets
gunicorn
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
coverage
ecdsa
itsdangerous
paramiko
Flask-WTF
Flask-User==1.0.2.2
Flask-Migrate
pytest-xdist