<section class="py-3 container">
    <div class="row py-lg-3">
      <div class="mx-auto">
        <h1 class="fw-light">Weekly Calendar</h1>
        <p class="lead text-body-secondary">Week Ending on <br>
        <b>Saturday {{ formatted_week_end_date }}</b></p>
        <p>
        <a href="#" class="btn btn-primary btn-large rounded-pill my-2 mb-4" style="padding:0.5rem;position: absolute;">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></a>
        </p>
      </div>
    </div>
  </section>